@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --white-color: #fff;
  --black-color: #000;
  --text-primary: #000;
  --text-second: #222;
  --text-input: #555;
  --text-grey: #8d9199;
  --light-blue: #1ec6b6;
  --red-color: #ff4a52;
  --border-color: #dce0e0;
  --box-shadown: 0 22px 40px rgba(0, 0, 0, 0.15);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}
